<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" type="text/css" href="./../static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="icon" href="./../static/logo.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="text-[rgb(10,35,66)]">
    <nav class="w-full shadow-lg h-16 bg-gradient-to-br from-purple-500 to-pink-500 relative">
        <div class="container mx-auto py-2 px-4 xl:pl-0 h-full flex items-center justify-between">
            <a href="/" class="block h-[36px] aspect-square">
                <img class="" src="./../static/logo.png" alt="">
            </a>
            <i id="mobile-menu-icon" class="fa-solid fa-bars text-white text-[30px] lg:hidden"></i>
            <div id="tabs" class="text-white hidden lg:flex">
                <a href="/login" class="px-4 py-2 border-r-2 border-r-white">Login</a>
                <a href="/register" class="py-2 px-4">Register</a>
            </div>
        </div>
        <div id="mobile-menu"
            class="w-full text-center sm:text-2xl text-white absolute left-0 top-full flex flex-col bg-gradient-to-br from-pink-500 to-pink-500 hidden">
            <a href="/login" class="p-2 border-b border-b-white">Login</a>
            <a href="/register" class="p-2 border-b border-b-white">Register</a>
        </div>
    </nav>
    {% block main %}
    {% endblock %}
    <script src="./../static/scripts/mobile_menu.js"></script>
</body>

</html>